[submodule "themes/solarized"]
	path = themes/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "vendor/fuzzy"]
	path = vendor/fuzzy
	url = git://github.com/auto-complete/fuzzy-el.git
[submodule "vendor/popup"]
	path = vendor/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "vendor/paredit"]
	path = vendor/paredit
	url = git://github.com/emacsmirror/paredit.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/slim-mode"]
	path = vendor/slim-mode
	url = git://github.com/slim-template/emacs-slim.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "vendor/expand-region"]
	path = vendor/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "vendor/ace-jump"]
	path = vendor/ace-jump
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "vendor/highlight-symbol"]
	path = vendor/highlight-symbol
	url = git://github.com/nschum/highlight-symbol.el.git
[submodule "vendor/yari"]
	path = vendor/yari
	url = git://github.com/hron/yari.el.git
[submodule "vendor/zencoding"]
	path = vendor/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "vendor/etags-select"]
	path = vendor/etags-select
	url = git://github.com/hbin/etags-select.git
[submodule "vendor/eproject"]
	path = vendor/eproject
	url = git://github.com/jrockway/eproject.git
[submodule "vendor/tree-mode"]
	path = vendor/tree-mode
	url = git://github.com/emacsmirror/tree-mode.git
[submodule "vendor/windata"]
	path = vendor/windata
	url = git://github.com/emacsmirror/windata.git
[submodule "vendor/dirtree"]
	path = vendor/dirtree
	url = git://github.com/zkim/emacs-dirtree.git
[submodule "vendor/lua-mode"]
	path = vendor/lua-mode
	url = git://github.com/immerrr/lua-mode.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/emacsmirror/smex.git
[submodule "vendor/whole-line-or-region"]
	path = vendor/whole-line-or-region
	url = git://github.com/emacsmirror/whole-line-or-region.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "vendor/ruby-tools"]
	path = vendor/ruby-tools
	url = git://github.com/rejeep/ruby-tools.git
[submodule "vendor/textmate-minor-mode"]
	path = vendor/textmate-minor-mode
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/feature-mode"]
	path = vendor/feature-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/ruby-block"]
	path = vendor/ruby-block
	url = git://github.com/emacsmirror/ruby-block.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "vendor/popwin"]
	path = vendor/popwin
	url = git://github.com/m2ym/popwin-el.git
[submodule "vendor/linum-off"]
	path = vendor/linum-off
	url = git://github.com/emacsmirror/linum-off.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "vendor/flycheck"]
	path = vendor/flycheck
	url = git://github.com/lunaryorn/flycheck.git
[submodule "vendor/ido-hacks"]
	path = vendor/ido-hacks
	url = git://github.com/scottjad/ido-hacks.git
[submodule "vendor/dired-plus"]
	path = vendor/dired-plus
	url = git://github.com/emacsmirror/dired-plus.git
[submodule "vendor/dired-details"]
	path = vendor/dired-details
	url = git://github.com/emacsmirror/dired-details.git
[submodule "vendor/dired-details-plus"]
	path = vendor/dired-details-plus
	url = git://github.com/emacsmirror/dired-details-plus.git
[submodule "vendor/fic-mode"]
	path = vendor/fic-mode
	url = git://github.com/lewang/fic-mode.git
[submodule "vendor/multiple-cursors"]
	path = vendor/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "vendor/region-bindings-mode"]
	path = vendor/region-bindings-mode
	url = git://github.com/fgallina/region-bindings-mode.git
[submodule "vendor/s.el"]
	path = vendor/s.el
	url = git://github.com/magnars/s.el.git
[submodule "vendor/dash.el"]
	path = vendor/dash.el
	url = git://github.com/magnars/dash.el.git
[submodule "vendor/mustache-mode"]
	path = vendor/mustache-mode
	url = git://github.com/emacsmirror/mustache-mode.git
[submodule "vendor/ack-and-a-half"]
	path = vendor/ack-and-a-half
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule "vendor/buffer-move"]
	path = vendor/buffer-move
	url = git://github.com/emacsmirror/buffer-move.git
[submodule "vendor/mo-git-blame"]
	path = vendor/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
[submodule "vendor/browse-kill-ring"]
	path = vendor/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "vendor/inf-ruby"]
	path = vendor/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
[submodule "vendor/cl-lib"]
	path = vendor/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/dropdown-list"]
	path = vendor/dropdown-list
	url = https://github.com/emacsmirror/dropdown-list.git
[submodule "themes/molokai-theme"]
	path = themes/molokai-theme
	url = git://github.com/hbin/molokai-theme.git
