[submodule "snippets"]
	path = snippets
	url = git@github.com:hbin/yasnippets-hbin.git
[submodule "vendor/color-theme"]
	path = vendor/color-theme
	url = git://github.com/haxney/color-theme.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "vendor/fuzzy"]
	path = vendor/fuzzy
	url = git://github.com/m2ym/fuzzy-el.git
[submodule "vendor/popup"]
	path = vendor/popup
	url = git://github.com/m2ym/popup-el.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://github.com/defunkt/markdown-mode.git
[submodule "vendor/paredit"]
	path = vendor/paredit
	url = git://github.com/emacsmirror/paredit.git
[submodule "vendor/rainbow-delimiters"]
	path = vendor/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/slim-mode"]
	path = vendor/slim-mode
	url = git://github.com/minad/emacs-slim.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/nxhtml-mode"]
	path = vendor/nxhtml-mode
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule "vendor/expand-region"]
	path = vendor/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "vendor/ace-jump"]
	path = vendor/ace-jump
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "vendor/highlight-symbol"]
	path = vendor/highlight-symbol
	url = git://github.com/nschum/highlight-symbol.el.git
[submodule "vendor/yari"]
	path = vendor/yari
	url = git://github.com/hron/yari.el.git
[submodule "vendor/zencoding"]
	path = vendor/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule "vendor/flymake-cursor"]
	path = vendor/flymake-cursor
	url = git://github.com/emacsmirror/flymake-cursor.git
[submodule "vendor/flymake-ruby"]
	path = vendor/flymake-ruby
	url = git://github.com/purcell/flymake-ruby.git
[submodule "themes/molokai"]
	path = themes/molokai
	url = git://github.com/alloy-d/color-theme-molokai.git
[submodule "vendor/etags-select"]
	path = vendor/etags-select
	url = git://github.com/emacsmirror/etags-select.git
[submodule "vendor/eproject"]
	path = vendor/eproject
	url = git://github.com/jrockway/eproject.git
[submodule "vendor/tree-mode"]
	path = vendor/tree-mode
	url = git://github.com/emacsmirror/tree-mode.git
[submodule "vendor/windata"]
	path = vendor/windata
	url = git://github.com/emacsmirror/windata.git
[submodule "vendor/dirtree"]
	path = vendor/dirtree
	url = git://github.com/zkim/emacs-dirtree.git
[submodule "vendor/mark-multiple"]
	path = vendor/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = git://github.com/nschum/full-ack.git
[submodule "vendor/lua-mode"]
	path = vendor/lua-mode
	url = git://github.com/immerrr/lua-mode.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/whole-line-or-region"]
	path = vendor/whole-line-or-region
	url = git://github.com/emacsmirror/whole-line-or-region.git
