# Ignore custom.el
custom.el

# Ignore temperate
temp/
auto-save-list/

# Ignore Game folder
games/

# Ignore TAGS file
TAGS

# Ignore Tramp
tramp

# Ignore Eshell
eshell/

# Ignore AC data file
ac-comphist.dat

# Ignore session
session*
